<!DOCTYPE html>
<html>
 <head>
   <link href="/styles.css" rel="stylesheet">
   <title>React & Express Example</title>
 </head>

<body>

 <h3>Hello World</h3>
 </br>
 <div id="app"></div>

<script src="app.js"></script>
</body>



</html>
